@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

body {
  font-family: 'Ubunto Condensed', Arial, sans-serif;
  font-weight: bold;
  background: #ecedee;
  -webkit-user-select: none;
}

img {
  display: inline-block;
  max-width: 100%;
  -webkit-user-drag: none;
}

header {
  margin-bottom: 5rem;
}

header h1 {
  font-size: 3em;
  color: #386878;
  font-weight: bold;
}

header h2 {
  font-size: 1.8em;
  color: #939597;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scene {
  width: 70rem;
  height: 70rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem;
}

.outer-layer {
  border-radius: 50%;
  border: 2px solid #ccc;
  width: 100%;
  height: 100%;
}

.inner-layer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.inner-layer .action-zone {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.inner-layer .timer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.inner-layer .timer img {
  position: absolute;
  inset: 0;
  margin: auto;
}

.inner-layer .timer img:first-child {
  top: -25px;
}

.inner-layer .timer img:last-child {
  top: -35px;
  right: 2px;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

.action-zone button {
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid transparent;
  padding: 0;
  cursor: default;
}

.action-zone button:first-child {
  -webkit-transform: translate(267%, -55%);
          transform: translate(267%, -55%);
}

.action-zone button:nth-child(2) {
  -webkit-transform: translate(-115%, 420%);
          transform: translate(-115%, 420%);
}

.action-zone button:last-child {
  -webkit-transform: translate(335%, 420%);
          transform: translate(335%, 420%);
}

.action-zone button.collected {
  border-color: #ffff00;
}

.action-zone.active button:hover, .action-zone .collected:hover {
  border-color: #ffff00;
  cursor: pointer;
}

.animate-clock {
  -webkit-animation: rotate 60s infinite linear;
          animation: rotate 60s infinite linear;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

#results {
  margin: 10px 0 20px;
}

#results button {
  border-radius: 0;
  margin-right: 5px;
  padding: 5px 20px;
}

#high_scores h3 {
  font-weight: bold;
  color: #939597;
  margin-bottom: 20px;
}

table thead {
  background: #808080;
}

table thead th {
  color: #ffffff;
  text-align: center;
  padding: 0;
  position: relative;
}

table thead th:before, table thead th:after {
  content: '';
  font-family: 'Glyphicons Halflings';
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 7px;
}

table thead th.tablesorter-headerUnSorted:before {
  content: '\e253';
  top: 4px;
}

table thead th.tablesorter-headerUnSorted:after {
  content: '\e252';
  top: 14px;
}

table thead th.tablesorter-headerAsc:after {
  content: '\e253';
}

table thead th.tablesorter-headerDesc:after {
  content: '\e252';
}

table thead th.sorter-false:before, table thead th.sorter-false:after {
  display: none;
}

table tbody td {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: Lato, Arial, sans-serif;
  color: #000;
}

table tbody td .showGraph {
  cursor: pointer;
  display: block;
}
/*# sourceMappingURL=style.css.map */